.contact-form {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 4rem !important;
    resize: none;
}

.c-blur1 {
    top: 12rem;
    left: 2rem;
}

.c-blur2 {
    top: 1rem;
    left: 28rem;
}

.done {
    font-size: 1.5rem;
    /* font-weight: ; */
    color: var(--black);
}

@media screen and (max-width: 480px) {
    .contact-form {
        height: 45rem;
        flex-direction: column;
        padding: 0;
        gap: 5rem;
    }

    .c-right span {
        transform: scale(0.6);
        text-align: center;
    }

    .c-right .user {
        width: 15rem;
    }
}